In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
# reviews clean
rev = pd.read_csv(r'C:\Users\a814811\OneDrive - Atos\Documents\dane\readers.csv')
# articles (oczyszczone wstępnie z 'flag' przez Agatę)
art = pd.read_csv(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\articles_clean_2.csv')
# artykuł i jego popularność
pop = pd.read_csv('article_popularity.csv')

In [8]:
pop.head()

,nzz_id,author,catchline,content,content_length,department,lead_text,pub_date,title
0,ld.149648,Claudia Gabriel,Obligationenfonds mit fixer Laufzeit,Obligationenfonds mit fixer LaufzeitEs gibt no...,704,Finanzen,Die Idee ist gut: Statt einer einzigen Obligat...,2017-03-09 08:01:21.000,Es gibt noch interessante Varianten
1,1.18145900,Unknown,Unknown,NaN,0,Panorama,Zum Auftakt der Fashion Week in New York zeige...,2017-04-11 14:00:29.473,Fashion Week New York
2,ld.138769,Unknown,E-Banking-Ausfall,E-Banking-AusfallPostfinance kämpft mit dem Sy...,523,Finanzen,Seit Sonntag funktioniert das E-Banking der Po...,2017-01-09 13:55:00.000,Postfinance kämpft mit dem System
3,ld.143700,Unknown,Terror in Frankreich,Terror in FrankreichLouvre nach Macheten-Angri...,180,International,Einen Tag nach dem Angriff auf Soldaten beim P...,2017-02-04 12:50:25.000,Louvre nach Macheten-Angriff wieder geöffnet
4,ld.149385,Unknown,Unglück in Panama,Unglück in PanamaBus prallt gegen eine Mauer u...,117,Panorama,Bei einem Busunglück in Panama sind 17 Persone...,2017-03-06 07:31:21.000,Bus prallt gegen eine Mauer und stürzt in Fluss

In [7]:
rev.head()

   id      art_id
0   1   ld.154103
1   1   ld.142559
2   1  1.18331199
3   1   ld.144819
4   1  ld.1293110

In [17]:
art.head()

,nzz_id,author,catchline,content,content_length,department,lead_text,pub_date,title,popularity
0,ld.149648,Claudia Gabriel,Obligationenfonds mit fixer Laufzeit,Obligationenfonds mit fixer LaufzeitEs gibt no...,704,Finanzen,Die Idee ist gut: Statt einer einzigen Obligat...,2017-03-09 08:01:21.000,Es gibt noch interessante Varianten,0.009009
1,1.18145900,Unknown,Unknown,NaN,0,Panorama,Zum Auftakt der Fashion Week in New York zeige...,2017-04-11 14:00:29.473,Fashion Week New York,NaN
2,ld.138769,Unknown,E-Banking-Ausfall,E-Banking-AusfallPostfinance kämpft mit dem Sy...,523,Finanzen,Seit Sonntag funktioniert das E-Banking der Po...,2017-01-09 13:55:00.000,Postfinance kämpft mit dem System,0.009009
3,ld.143700,Unknown,Terror in Frankreich,Terror in FrankreichLouvre nach Macheten-Angri...,180,International,Einen Tag nach dem Angriff auf Soldaten beim P...,2017-02-04 12:50:25.000,Louvre nach Macheten-Angriff wieder geöffnet,0.004505
4,ld.149385,Unknown,Unglück in Panama,Unglück in PanamaBus prallt gegen eine Mauer u...,117,Panorama,Bei einem Busunglück in Panama sind 17 Persone...,2017-03-06 07:31:21.000,Bus prallt gegen eine Mauer und stürzt in Fluss,NaN

In [3]:
# dodanie kolumny 'popularity'
art = art.join(pop.set_index('art_id'), on='nzz_id')

In [4]:
# zamiana NaN na 0
art['popularity'] = art['popularity'].replace(np.nan,0)

In [5]:
art.head()

,nzz_id,author,catchline,content,content_length,department,lead_text,pub_date,title,popularity
0,ld.149648,Claudia Gabriel,Obligationenfonds mit fixer Laufzeit,Obligationenfonds mit fixer LaufzeitEs gibt no...,704,Finanzen,Die Idee ist gut: Statt einer einzigen Obligat...,2017-03-09 08:01:21.000,Es gibt noch interessante Varianten,0.009009
1,1.18145900,Unknown,Unknown,NaN,0,Panorama,Zum Auftakt der Fashion Week in New York zeige...,2017-04-11 14:00:29.473,Fashion Week New York,0.000000
2,ld.138769,Unknown,E-Banking-Ausfall,E-Banking-AusfallPostfinance kämpft mit dem Sy...,523,Finanzen,Seit Sonntag funktioniert das E-Banking der Po...,2017-01-09 13:55:00.000,Postfinance kämpft mit dem System,0.009009
3,ld.143700,Unknown,Terror in Frankreich,Terror in FrankreichLouvre nach Macheten-Angri...,180,International,Einen Tag nach dem Angriff auf Soldaten beim P...,2017-02-04 12:50:25.000,Louvre nach Macheten-Angriff wieder geöffnet,0.004505
4,ld.149385,Unknown,Unglück in Panama,Unglück in PanamaBus prallt gegen eine Mauer u...,117,Panorama,Bei einem Busunglück in Panama sind 17 Persone...,2017-03-06 07:31:21.000,Bus prallt gegen eine Mauer und stürzt in Fluss,0.000000

In [ ]:
art.to_csv("art_clean_with_popularity.csv", encoding="utf-8", index=False)