In [1]:
import sys
sys.path.insert(1, '../main_model')

from some_functions import *
from popularity_model import *
import pandas as pd
import numpy as np 

# test
from period_test import period_eval

In [2]:
art_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\art_clean_wt_all_popularity.csv')
art_db = art_db[['nzz_id', 'author', 'department', 'pub_date', 'popularity']]
user_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\readers.csv')

In [3]:
def check_devide(suspects,denominator):
    # f sprawdzajaca podzielnosc wszystkich elementow
    for d in denominator:
        if [it/d for it in suspects] == [round(it/d) for it in suspects]:
            return True
    return False

In [5]:
db = pd.DataFrame([], columns=['model','user','number_of_recomm','train_articles','test_articles','precision','recall'])

a=1
while a<101:
    b=1
    while b<101:
        c=1
        while c<101:
            # eliminuje powtórki:
            if not check_devide((a,b,c),(2,3,4,5,6,7,8,9,10)):
                print((a,b,c))
                res = period_eval().evaluate_model(Model=Popularity_model_final, art_db=art_db, user_db=user_db, limit = [5, 10, 15], w=(a,b,c))

                res['weight'] = [(a,b,c)] * 3000
                db = db.append(res,ignore_index=True)
            c += 49
        b += 49    
    a+= 49
db.to_csv("res2.csv", encoding="utf-8", index=False)

(1, 1, 1)
(1, 1, 50)
(1, 1, 99)
(1, 50, 1)
(1, 50, 50)
(1, 50, 99)
(1, 99, 1)
(1, 99, 50)
(1, 99, 99)
(50, 1, 1)
(50, 1, 50)
(50, 1, 99)
(50, 50, 1)
(50, 50, 99)
(50, 99, 1)
(50, 99, 50)
(50, 99, 99)
(99, 1, 1)
(99, 1, 50)
(99, 1, 99)
(99, 50, 1)
(99, 50, 50)
(99, 50, 99)
(99, 99, 1)
(99, 99, 50)

In [8]:
db

,model,user,number_of_recomm,train_articles,test_articles,precision,recall,weight
0,final,1,5,2,3,0.000000,0.000000,"(1, 1, 1)"
1,final,1,10,2,3,0.000000,0.000000,"(1, 1, 1)"
2,final,1,15,2,3,0.000000,0.000000,"(1, 1, 1)"
3,final,2,5,2,3,0.200000,0.333333,"(1, 1, 1)"
4,final,2,10,2,3,0.100000,0.333333,"(1, 1, 1)"
...,...,...,...,...,...,...,...,...
17995,final,999,10,21,10,0.100000,0.100000,"(1, 50, 99)"
17996,final,999,15,21,10,0.066667,0.100000,"(1, 50, 99)"
17997,final,1000,5,22,16,0.200000,0.062500,"(1, 50, 99)"
17998,final,1000,10,22,16,0.100000,0.062500,"(1, 50, 99)"
17999,final,1000,15,22,16,0.066667,0.062500,"(1, 50, 99)"