In [1]:
import sys
sys.path.insert(1, '../main_model')

from some_functions import *
from popularity_model import *
import pandas as pd
import numpy as np 

# test
from period_test import period_eval
from period_test_new import period_eval_new

In [2]:
art_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\art_clean_wt_all_popularity.csv')
art_db = art_db[['nzz_id', 'author', 'department', 'pub_date', 'popularity','department_popularity']]
user_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\readers.csv')

In [3]:
p1 = period_eval().evaluate_model(Model=Popularity_model_final, art_db=art_db, user_db=user_db, limit = [5, 10, 15])

100%|██████████| 1000/1000 [02:58<00:00,  5.59it/s]

In [5]:
print(p1[0])
p1[1].to_csv("tts", encoding="utf-8", index=False)

   number_of_recomm  precision    recall   f1score  coverage
0                 5   0.109438  0.044725  0.060270  0.026705
1                10   0.079321  0.063095  0.066373  0.049687
2                15   0.061789  0.073320  0.063436  0.068671

In [3]:
p2 = period_eval_new().evaluate_model(Model=Popularity_model_final, art_db=art_db, user_db=user_db, limit = [5, 10, 15])

100%|██████████| 1000/1000 [02:53<00:00,  5.78it/s]

In [4]:
print(p2[0])
p2[1].to_csv("tt", encoding="utf-8", index=False)

   number_of_recomm  precision    recall   f1score  coverage
0                 5   0.113256  0.045778  0.061836  0.027886
1                10   0.078473  0.062180  0.065576  0.048415
2                15   0.062354  0.073679  0.063993  0.069761

In [6]:
p3 = period_eval().evaluate_model(Model=Popularity_model_final, art_db=art_db, user_db=user_db, limit = [5, 10, 15])

100%|██████████| 1000/1000 [04:18<00:00,  3.87it/s]

In [7]:
print(p3[0])

   number_of_recomm  precision    recall   f1score  coverage
0                 5   0.110074  0.044509  0.060121  0.027523
1                10   0.076458  0.061456  0.064197  0.050504
2                15   0.061435  0.072979  0.063139  0.069125

In [4]:
p4 = period_eval().evaluate_model(Model=Popularity_model_final, art_db=art_db, user_db=user_db, limit = [5, 10, 15])

100%|██████████| 1000/1000 [03:55<00:00,  4.24it/s]

In [5]:
# print(p1[1][['precision', 'recall']].mean())
# print(p4[1][['precision', 'recall']].mean())
print(p4[0])

   number_of_recomm  precision    recall   f1score  coverage
0                 5   0.047508  0.015920  0.022073  0.017622
1                10   0.043690  0.027909  0.031707  0.031974
2                15   0.041287  0.038647  0.037384  0.044327

In [6]:
# results = p1.append(p2).append(p3).append(p4)
results = p2.append(p3).append(p4)
results.groupby(['number_of_recomm','model'])[['precision','recall']].mean()

                             precision    recall
number_of_recomm model
5                author       0.029647  0.011368
                 department   0.031924  0.012926
                 final        0.058659  0.026882
10               author       0.029255  0.020903
                 department   0.032135  0.026790
                 final        0.053754  0.047346
15               author       0.027099  0.028546
                 department   0.029598  0.037031
                 final        0.051451  0.065277

In [7]:
results.to_csv("test_results2", encoding="utf-8", index=False)

In [14]:
results.drop_duplicates(inplace=True)

In [17]:
results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   model             12000 non-null  object
 1   user              12000 non-null  int64
 2   number_of_recomm  12000 non-null  int64
 3   train_articles    12000 non-null  int64
 4   test_articles     12000 non-null  int64
 5   precision         10107 non-null  float64
 6   recall            10107 non-null  float64
dtypes: float64(2), int64(4), object(1)
memory usage: 750.0+ KB

In [7]:
i = 5

interactions = user_db[~((user_db["user_id"] == i) & (user_db["nzz_id"].isin(user_articles_2)))]

['x', 'x', 'x', 'x', 'x']