In [6]:
import pandas as pd
import numpy as np

In [2]:
articles = pd.read_json("data/articles.json", encoding="utf-8", lines=True)
articles.head()

,nzz_id,author,catchline,content,content_length,department,lead_text,pub_date,title,flag
0,ld.149648,Claudia Gabriel,Obligationenfonds mit fixer Laufzeit,"<div data-component=""subtitle"" class=""subtitle...",704,Finanzen,Die Idee ist gut: Statt einer einzigen Obligat...,2017-03-09 08:01:21.0,Es gibt noch interessante Varianten,NaN
1,1.18145900,NaN,NaN,,0,Panorama,Zum Auftakt der Fashion Week in New York zeige...,2017-04-11 14:00:29.473,Fashion Week New York,
2,ld.138769,NaN,E-Banking-Ausfall,"<div data-component=""subtitle"" class=""subtitle...",523,Finanzen,Seit Sonntag funktioniert das E-Banking der Po...,2017-01-09 13:55:00.0,Postfinance kämpft mit dem System,NaN
3,ld.143700,NaN,Terror in Frankreich,"<div data-component=""subtitle"" class=""subtitle...",180,International,Einen Tag nach dem Angriff auf Soldaten beim P...,2017-02-04 12:50:25.0,Louvre nach Macheten-Angriff wieder geöffnet,NaN
4,ld.149385,NaN,Unglück in Panama,"<div data-component=""subtitle"" class=""subtitle...",117,Panorama,Bei einem Busunglück in Panama sind 17 Persone...,2017-03-06 07:31:21.0,Bus prallt gegen eine Mauer und stürzt in Fluss,NaN

In [3]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22025 entries, 0 to 22024
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nzz_id          22025 non-null  object
 1   author          11453 non-null  object
 2   catchline       17872 non-null  object
 3   content         21950 non-null  object
 4   content_length  22025 non-null  int64
 5   department      20389 non-null  object
 6   lead_text       20410 non-null  object
 7   pub_date        22025 non-null  object
 8   title           22019 non-null  object
 9   flag            6675 non-null   object
dtypes: int64(1), object(9)
memory usage: 1.7+ MB

In [4]:
articles["pub_date"] = pd.to_datetime(articles["pub_date"])
articles.dtypes

nzz_id                    object
author                    object
catchline                 object
content                   object
content_length             int64
department                object
lead_text                 object
pub_date          datetime64[ns]
title                     object
flag                      object
dtype: object

## Brakujące wartości

In [7]:
# Zmiana wszystkich pustych stringów na null, żeby potem było łatwo usunąć
articles = articles.replace("", np.nan)

In [8]:
articles.isna().sum()

nzz_id                0
author            10802
catchline          4154
content            7120
content_length        0
department         3241
lead_text          2334
pub_date              0
title                 6
flag              19125
dtype: int64

In [9]:
articles = articles.drop(columns = ["flag", "content"])

In [10]:
articles = articles.dropna()
articles.isna().sum()

nzz_id            0
author            0
catchline         0
content_length    0
department        0
lead_text         0
pub_date          0
title             0
dtype: int64

In [11]:
articles.shape

(10522, 8)

In [12]:
articles.to_csv("output/articles_cleaned.csv", encoding="utf-8", index=False)