In [1]:
import pandas as pd

In [2]:
readers = pd.read_csv("../data/readers.csv", encoding="utf-8", )
readers.head()

   id      art_id
0   1   ld.154103
1   1   ld.142559
2   1  1.18331199
3   1   ld.144819
4   1  ld.1293110

In [4]:
articles = pd.read_csv("../data/articles_cleaned.csv", encoding="utf-8")
articles.head()

,nzz_id,author,catchline,department,lead_text,pub_date,title,paragraph
0,ld.149648,Claudia Gabriel,Obligationenfonds mit fixer Laufzeit,Finanzen,Die Idee ist gut: Statt einer einzigen Obligat...,2017-03-09 08:01:21.0,Es gibt noch interessante Varianten,Die Idee ist gut: Statt einer einzigen Obligat...
1,1.18145900,Unknown,Fashion Week New York,Panorama,Zum Auftakt der Fashion Week in New York zeige...,2017-04-11 14:00:29.473,Fashion Week New York,NaN
2,ld.138769,Unknown,E-Banking-Ausfall,Finanzen,Seit Sonntag funktioniert das E-Banking der Po...,2017-01-09 13:55:00.0,Postfinance kämpft mit dem System,Seit Sonntag funktioniert das E-Banking der Po...
3,ld.143700,Unknown,Terror in Frankreich,International,Einen Tag nach dem Angriff auf Soldaten beim P...,2017-02-04 12:50:25.0,Louvre nach Macheten-Angriff wieder geöffnet,Einen Tag nach dem Angriff auf Soldaten beim P...
4,ld.149385,Unknown,Unglück in Panama,Panorama,Bei einem Busunglück in Panama sind 17 Persone...,2017-03-06 07:31:21.0,Bus prallt gegen eine Mauer und stürzt in Fluss,Bei einem Busunglück in Panama sind 17 Persone...

In [5]:
articles["pub_date"] = pd.to_datetime(articles["pub_date"])
articles.dtypes

nzz_id                object
author                object
catchline             object
department            object
lead_text             object
pub_date      datetime64[ns]
title                 object
paragraph             object
dtype: object

In [11]:
article_popularity = readers["art_id"].value_counts(sort=True).rename_axis("nzz_id").reset_index(name="read_count")
article_popularity

           nzz_id  read_count
0      1.18108994         222
1       ld.153477         206
2      ld.1086062         128
3       ld.153813         125
4       ld.140509          49
...           ...         ...
11255   ld.154248           1
11256   ld.150709           1
11257  ld.1085883           1
11258   ld.141789           1
11259   ld.142817           1

[11260 rows x 2 columns]

In [10]:
merged_df = pd.merge(article_popularity, articles, on=["id"])
merged_df.head()

KeyError: 'id'

In [57]:
merged_df.dtypes

id                        object
read_count                 int64
author                    object
catchline                 object
content_length             int64
department                object
lead_text                 object
pub_date          datetime64[ns]
title                     object
dtype: object

In [38]:
departments = merged_df["department"].unique()
pd.DataFrame(departments, columns=["name"])

                    name
0              Euro 2016
1   Jahresrückblick 2016
2                  Video
3           Storytelling
4             Startseite
5                Digital
6           Gesellschaft
7                  NZZaS
8              Mobilität
9           Wissenschaft
10              Finanzen
11            Marktplatz
12               Meinung
13                Archiv
14            Feuilleton
15              Panorama
16                 Sport
17         International
18               Schweiz
19            Wirtschaft
20          Bildstrecken
21                Zürich
22          Leserdebatte

In [61]:
min_date = min(merged_df["pub_date"])
max_date = max(merged_df["pub_date"])
print(f"min date: {min_date}\nmax date: {max_date}")

min date: 2016-12-29 08:31:00
max date: 2017-05-22 10:00:00