In [41]:
import pandas as pd

In [42]:
readers = pd.read_csv("data/readers.csv", encoding="utf-8", )
readers.head()

   id      art_id
0   1   ld.154103
1   1   ld.142559
2   1  1.18331199
3   1   ld.144819
4   1  ld.1293110

In [52]:
articles = pd.read_csv("output/articles_cleaned.csv", encoding="utf-8")
articles.head()

,id,author,catchline,content_length,department,lead_text,pub_date,title
0,ld.149648,Claudia Gabriel,Obligationenfonds mit fixer Laufzeit,704,Finanzen,Die Idee ist gut: Statt einer einzigen Obligat...,2017-03-09 08:01:21.000,Es gibt noch interessante Varianten
1,ld.1288211,René Weiersmüller,Solarstrom,804,Meinung,An sonnigen Sommertagen wird der grösste Teil ...,2017-04-22 03:30:00.000,Ein kostspieliges Kuckucksei
2,ld.137867,Daniel Gerny,Muslime,311,Wirtschaft,Präsident des Islamischen Zentralrates der Sch...,2017-01-03 19:28:10.000,Nicolas Blancho
3,ld.144440,Walter Haller,Trumps Schachzüge,593,Meinung,"Jeder US-Präsident schlägt Richter vor, die se...",2017-02-09 04:30:00.000,Die Demokraten sollten vorsichtig sein
4,ld.146522,"Marjana Ensmenger, Wil",Basil Stillhart,337,Sport,Basil Stillhart fällt mit seiner Art im FC Wil...,2017-02-20 08:30:00.000,Wurzeln in Wil

In [54]:
articles["pub_date"] = pd.to_datetime(articles["pub_date"])
articles.dtypes

id                        object
author                    object
catchline                 object
content_length             int64
department                object
lead_text                 object
pub_date          datetime64[ns]
title                     object
dtype: object

In [55]:
article_popularity = readers["art_id"].value_counts(sort=True).rename_axis("id").reset_index(name="read_count")
article_popularity.head()

           id  read_count
0  1.18108994         222
1   ld.153477         206
2  ld.1086062         128
3   ld.153813         125
4   ld.140509          49

In [56]:
merged_df = pd.merge(article_popularity, articles, on=["id"])
merged_df.head()

,id,read_count,author,catchline,content_length,department,lead_text,pub_date,title
0,ld.153477,206,Nino Maspoli,Asus Zenbook 3 im Test,0,Euro 2016,Asus verbaut in seinem neusten Zenbook leistun...,2017-03-26 05:02:00,Es fehlt die Liebe zum Detail
1,ld.137077,47,Roman Bucheli,Jahresrückblick Feuilleton,830,Jahresrückblick 2016,"Das Geschichtsbewusstsein nimmt ab, stattdesse...",2017-01-02 05:00:00,Zukunftsversessen und geschichtsvergessen
2,ld.137081,46,Thomas Fuster,Jahresrückblick Wirtschaft,1052,Jahresrückblick 2016,Befürworter von Freihandel kämpften 2016 oft a...,2017-01-02 05:00:00,Rückbesinnung auf die heimische Scholle
3,ld.136886,45,Luzi Bernet,Jahresrückblick Zürich,821,Jahresrückblick 2016,Der links-grün dominierte Zürcher Stadtrat set...,2016-12-31 05:00:00,Es braucht mehr als Stunk um das nKoch-Areal
4,ld.137066,43,Peter Rásonyi,Jahresrückblick International,1006,Jahresrückblick 2016,2016 war geprägt von den Triumphen des Populis...,2016-12-30 04:35:00,Der Triumph des Populismus

In [57]:
merged_df.dtypes

id                        object
read_count                 int64
author                    object
catchline                 object
content_length             int64
department                object
lead_text                 object
pub_date          datetime64[ns]
title                     object
dtype: object

In [38]:
departments = merged_df["department"].unique()
pd.DataFrame(departments, columns=["name"])

                    name
0              Euro 2016
1   Jahresrückblick 2016
2                  Video
3           Storytelling
4             Startseite
5                Digital
6           Gesellschaft
7                  NZZaS
8              Mobilität
9           Wissenschaft
10              Finanzen
11            Marktplatz
12               Meinung
13                Archiv
14            Feuilleton
15              Panorama
16                 Sport
17         International
18               Schweiz
19            Wirtschaft
20          Bildstrecken
21                Zürich
22          Leserdebatte

In [61]:
min_date = min(merged_df["pub_date"])
max_date = max(merged_df["pub_date"])
print(f"min date: {min_date}\nmax date: {max_date}")

min date: 2016-12-29 08:31:00
max date: 2017-05-22 10:00:00