In [62]:
from sklearn.metrics.pairwise import cosine_similarity
import sklearn.metrics.pairwise_distances as
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'sklearn.metrics.pairwise_distances'

In [3]:
readers = pd.read_csv("../data/readers.csv")
readers = readers.rename(columns={"id":"user_id"})
readers.head()

   user_id      art_id
0        1   ld.154103
1        1   ld.142559
2        1  1.18331199
3        1   ld.144819
4        1  ld.1293110

In [35]:
reader_article_matrix_df = pd.crosstab(readers["user_id"], readers["art_id"]).fillna(0)
reader_article_matrix_df = reader_article_matrix_df.transpose()

In [32]:
jaccard_score()
cosine = cosine_similarity(reader_article_matrix_df)
np.fill_diagonal(cosine, 0 )
similarity_with_movie =pd.DataFrame(cosine,index=reader_article_matrix_df.index)
similarity_with_movie.columns=reader_article_matrix_df.index
similarity_with_movie.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.063888,0.0,0.069007,...,0.0,0.000000,0.079057,0.000000,0.0,0.000000,0.000000,0.0,0.080322,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.038180,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.022507,...,0.0,0.000000,0.000000,0.032616,0.0,0.000000,0.027566,0.0,0.000000,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.028172,...,0.0,0.035136,0.000000,0.000000,0.0,0.043033,0.000000,0.0,0.000000,0.0

In [47]:
for user_id in readers["user_id"].unique():
    simi = similarity_with_movie.iloc[user_id].transpose().sort_values(ascending=False)
    if (simi.iloc[0] > 0.4): print(simi, user_id)

user_id
860     0.421637
196     0.223607
861     0.212132
174     0.141421
104     0.141421
          ...
343     0.000000
344     0.000000
345     0.000000
346     0.000000
1000    0.000000
Name: 278, Length: 1000, dtype: float64 277
user_id
278     0.421637
196     0.176777
861     0.149071
174     0.149071
542     0.142134
          ...
405     0.000000
406     0.000000
407     0.000000
408     0.000000
1000    0.000000
Name: 860, Length: 1000, dtype: float64 859

IndexError: single positional indexer is out-of-bounds

In [48]:
read_articles_1 = readers[readers["user_id"] == 860]
read_articles_2 = readers[readers["user_id"] == 277]
read_articles_2

      user_id      art_id
7826      277  ld.1290184
7827      277   ld.140116
7828      277   ld.140460
7829      277   ld.145041
7830      277  ld.1085223
7831      277  ld.1293078
7832      277   ld.138863
7833      277   ld.138706
7834      277   ld.140742

In [51]:
read_articles_2["art_id"].isin(read_articles_1["art_id"])

7826    False
7827    False
7828    False
7829    False
7830    False
7831    False
7832    False
7833    False
7834    False
Name: art_id, dtype: bool