In [1]:
import pandas as pd
import numpy as np
from some_functions import get_db
from popularity_model import *

In [2]:
readers = pd.read_csv(r"C:\Users\a814811\OneDrive - Atos\RecommenderSystem\readers.csv")
readers = readers.rename(columns={"id":"user_id", "art_id":"nzz_id"})
art_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\art_clean_wt_all_popularity.csv')
art_db = art_db.loc[:,['nzz_id','author','department','popularity']] #skr√≥cenie do potrzebnych rzeczy

In [13]:
X = Popularity_model_merge(art_db,readers)
X.recommend(5,topn=10)

[['1.18108994', 'ld.153477', 'ld.1086062', 'ld.153813', 'ld.140509', 'ld.137077', 'ld.150497', 'ld.137081', 'ld.150557', 'ld.136886'], ['ld.155260', 'ld.1290435', 'ld.142559', 'ld.1290811', 'ld.139338', 'ld.142248', 'ld.152002', 'ld.151742', 'ld.148526', 'ld.139047'], ['ld.138179', 'ld.147496', 'ld.144297', 'ld.154109', 'ld.138264', 'ld.155260', 'ld.139916', 'ld.153589', 'ld.1288368', 'ld.1287117']] [1, 3.61, 8.0]

       nzz_id
0   ld.138179
1   ld.155260
2   ld.147496
3  1.18108994
4   ld.144297
5   ld.153477
6  ld.1290435
7   ld.142559
8   ld.154109
9  ld.1290811