In [1]:
from some_functions import *
from popularity_model import *
import pandas as pd
import numpy as np

In [2]:
art_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\art_clean_wt_all_popularity.csv')
user_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\readers.csv')

# user_db = user_db.rename(columns={"id":"user_id", "art_id":"nzz_id"})
# art_db = art_db.loc[:,['nzz_id','author','department','popularity']] #skrócenie do potrzebnych rzeczy

In [3]:
User1  = Popularity_model(articles_db=art_db,user_db=user_db)
User1a = Popularity_model_author(articles_db=art_db,user_db=user_db)
User1d = Popularity_model_department(articles_db=art_db,user_db=user_db)
User1m = Popularity_model_final(articles_db=art_db,user_db=user_db)

users = [User1, User1a, User1d, User1m]
user_id = 4
for User in users:
    r = User.recommend(user_id=user_id, ignored=True, limit=10)
    print(f'{User.get_name()}\n user ID: {user_id}\n {len(r)} recommendations:\n{r}\n')
    # r = User.recommend(user_id=user_id, ignored=False, limit=10)
    # print(f'{User.get_name()}\n user ID: {user_id}\n {len(r)} recommendations:\n{r}\n')
# r = User1.recommend(user_id=5, limit=5, ignored=['1.18108994','ld.153477','ld.153813'])
# print(f'{str(User1)[18:-30]}\n user ID: {-2}\n {len(r[0])} recommendations:\n{r}\n')

popularity
 user ID: 4
 10 recommendations:
['1.18108994', 'ld.153477', 'ld.1086062', 'ld.153813', 'ld.140509', 'ld.137077', 'ld.137081', 'ld.136886', 'ld.137066', 'ld.151480']

author
 user ID: 4
 10 recommendations:
['ld.143506', 'ld.1288011', 'ld.911838', 'ld.1288909', 'ld.139898', 'ld.141322', 'ld.144432', 'ld.143074', 'ld.1294017', 'ld.149908']

department
 user ID: 4
 10 recommendations:
['ld.157295', 'ld.149016', 'ld.144297', 'ld.154923', 'ld.1292759', 'ld.1294034', 'ld.152485', 'ld.1288143', 'ld.152971', 'ld.1289931']

final
 user ID: 4
 10 recommendations:
['ld.143506', 'ld.1288011', '1.18108994', 'ld.911838', 'ld.1288909', 'ld.139898', 'ld.141322', 'ld.144432', 'ld.143074', 'ld.153477']

In [4]:
User_X = Popularity_model_final(articles_db=art_db,user_db=user_db)
a = User_X.recommend(user_id=5, ev_return=True)
print(a)

(['ld.139338', 'ld.155260', 'ld.1290435', 'ld.148526', '1.18108994'], [0.5008976718498465, 0.5753803316757633, 0.5669151663480301, 0.5008976718498465, 1.0])

In [7]:
from merged_model import Recommendation

xxx = Recommendation(articles_db=art_db,user_db=user_db)
xxx.recommend(user_id=0)

['1.18108994', 'ld.153477', 'ld.1086062', 'ld.153813', 'ld.140509']

In [9]:
art_db

,nzz_id,author,catchline,content,content_length,department,lead_text,pub_date,title,popularity,author_occurences,author_popularity,department_occurences,department_popularity
0,ld.149648,Claudia Gabriel,Obligationenfonds mit fixer Laufzeit,Obligationenfonds mit fixer Laufzeit Es gi...,704,Finanzen,Die Idee ist gut: Statt einer einzigen Obligat...,2017-03-09 08:01:21.000,Es gibt noch interessante Varianten,0.009009,57,0.157593,597,0.904941
1,1.18145900,Unknown,Unknown,NaN,0,Panorama,Zum Auftakt der Fashion Week in New York zeige...,2017-04-11 14:00:29.473,Fashion Week New York,0.000000,0,0.000000,1952,1.000000
2,ld.138769,Unknown,E-Banking-Ausfall,E-Banking-Ausfall Postfinance kämpft mit d...,523,Finanzen,Seit Sonntag funktioniert das E-Banking der Po...,2017-01-09 13:55:00.000,Postfinance kämpft mit dem System,0.009009,0,0.000000,597,0.904941
3,ld.143700,Unknown,Terror in Frankreich,Terror in Frankreich Louvre nach Macheten-...,180,International,Einen Tag nach dem Angriff auf Soldaten beim P...,2017-02-04 12:50:25.000,Louvre nach Macheten-Angriff wieder geöffnet,0.004505,0,0.000000,3589,0.878118
4,ld.149385,Unknown,Unglück in Panama,Unglück in Panama Bus prallt gegen eine Ma...,117,Panorama,Bei einem Busunglück in Panama sind 17 Persone...,2017-03-06 07:31:21.000,Bus prallt gegen eine Mauer und stürzt in Fluss,0.000000,0,0.000000,1952,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22014,ld.141078,Unknown,Erstes Zeichen des Misstrauens?,Erstes Zeichen des Misstrauens? Seltsame T...,298,Finanzen,Was haben der neue amerikanische Präsident und...,2017-01-20 19:47:10.000,Seltsame Tweets gegen den Dollar,0.009009,0,0.000000,597,0.904941
22015,ld.149657,Unknown,Berliner Zoo,Berliner Zoo Eisbärenbaby Fritz ist tot ...,317,Panorama,Schock für den Berliner Tierpark: Nur gut vier...,2017-03-07 10:10:10.000,Eisbärenbaby Fritz ist tot,0.009009,0,0.000000,1952,1.000000
22016,ld.153050,Tom Felber,Misslungene Kokaintransporte,NaN,0,Zürich,Ein 62-jähriger gelernter Schweizer Landwirt i...,2017-03-23 15:00:00.000,Der Mann im Hintergrund,0.000000,78,0.135626,1239,0.116235
22017,ld.153523,Unknown,Saisonstart der Formel 1,NaN,0,Sport,"Bernie Ecclestone abserviert, schnellere Autos...",2017-03-26 04:45:00.000,Fährt Lewis Hamilton allen davon?,0.004505,0,0.000000,2261,0.878588
22018,1.10144093,Unknown,Unknown,NaN,0,Unknown,Uno-Generalsekretär Ban Ki Moon hat kürzlich d...,2017-04-11 13:55:15.016,Die Frauen der Revolte,0.000000,0,0.000000,0,0.000000

In [8]:
w_inner = np.array([[1,2],[2,3],[4,5]])
ratio = (1,2,3)
for i, evs in enumerate(w_inner):
        w_inner[i] = np.array(evs)*ratio[i] 
w_inner

array([[ 1,  2],
       [ 4,  6],
       [12, 15]])