In [2]:
from some_functions import *
from popularity_model import *
import pandas as pd
import numpy as np

In [2]:
art_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\art_clean_wt_all_popularity.csv')
user_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\readers.csv')

# user_db = user_db.rename(columns={"id":"user_id", "art_id":"nzz_id"})
# art_db = art_db.loc[:,['nzz_id','author','department','popularity']] #skrócenie do potrzebnych rzeczy

In [3]:
User1  = Popularity_model(articles_db=art_db,user_db=user_db)
User1a = Popularity_model_author(articles_db=art_db,user_db=user_db)
User1d = Popularity_model_department(articles_db=art_db,user_db=user_db)
User1m = Popularity_model_final(articles_db=art_db,user_db=user_db)

users = [User1, User1a, User1d, User1m]
user_id = 4
for User in users:
    r = User.recommend(user_id=user_id, ignored=True, limit=10)
    print(f'{User.get_name()}\n user ID: {user_id}\n {len(r)} recommendations:\n{r}\n')
    # r = User.recommend(user_id=user_id, ignored=False, limit=10)
    # print(f'{User.get_name()}\n user ID: {user_id}\n {len(r)} recommendations:\n{r}\n')
# r = User1.recommend(user_id=5, limit=5, ignored=['1.18108994','ld.153477','ld.153813'])
# print(f'{str(User1)[18:-30]}\n user ID: {-2}\n {len(r[0])} recommendations:\n{r}\n')

popularity
 user ID: 4
 10 recommendations:
['1.18108994', 'ld.153477', 'ld.1086062', 'ld.153813', 'ld.140509', 'ld.137077', 'ld.137081', 'ld.136886', 'ld.137066', 'ld.151480']

author
 user ID: 4
 10 recommendations:
['ld.143506', 'ld.1288011', 'ld.911838', 'ld.1288909', 'ld.139898', 'ld.141322', 'ld.144432', 'ld.143074', 'ld.1294017', 'ld.149908']

department
 user ID: 4
 10 recommendations:
['ld.1288143', 'ld.144297', 'ld.154923', 'ld.1294034', 'ld.140840', 'ld.1292759', 'ld.1288486', 'ld.152485', 'ld.1295508', 'ld.1292320']

final
 user ID: 4
 10 recommendations:
['1.18108994', 'ld.143506', 'ld.153477', 'ld.1288011', 'ld.1086062', 'ld.153813', 'ld.140509', 'ld.137077', 'ld.137081', 'ld.136886']

In [3]:
User_X = Popularity_model_final(articles_db=art_db,user_db=user_db)
a = User_X.recommend(user_id=5, ev_return=True)
print(a)

(['ld.155260', 'ld.1290435', 'ld.139338', 'ld.148526', 'ld.142559'], [0.5753803316757633, 0.5669151663480301, 0.5008976718498465, 0.5008976718498465, 0.5669151663480301])

In [4]:
from merged_model import Recommendation

xxx = Recommendation(articles_db=art_db,user_db=user_db)
xxx.recommend(user_id=5)0

['ld.1293241', 'ld.147496', 'ld.1294739', 'ld.138179', 'ld.154109']

,nzz_id,author,catchline,content,content_length,department,lead_text,pub_date,title,popularity,author_occurences,author_popularity,department_occurences,department_popularity
12193,ld.154923,Unknown,Medienberichte,NaN,0,Panorama,"Fünf Frauen haben offenbar erwogen, den Modera...",2017-04-02 12:30:56.523,Fox-Star soll Geld zur Vermeidung von Missbrau...,0.031532,0,0.000000,1952,1.0
16914,ld.152485,Unknown,Fund in der Schweiz,Fund in der Schweiz Polizei stösst auf 350...,161,Panorama,Die Polizei ermittelt gegen einen 38 Jahre alt...,2017-03-20 14:41:50.000,Polizei stösst auf 3500 Marihuana-Pflanzen,0.027027,0,0.000000,1952,1.0
21870,ld.153641,Alois Feusi,Agrardrohnen,NaN,0,Panorama,Betreiber von Flugrobotern entdecken die Landw...,2017-03-27 03:30:00.000,Fliegende Knechte,0.027027,46,0.044890,1952,1.0
21090,1.18067460,Unknown,Unknown,NaN,0,Panorama,Nachdem auf dem MIT-Gelände in Cambridge ein P...,2017-04-11 13:59:17.198,Grossfahndung in Boston,0.027027,0,0.000000,1952,1.0
12732,1.17938328,Unknown,Unknown,NaN,0,Panorama,"Der Schauspieler Gérard Depardieu, das «Enfant...",2017-04-11 13:58:34.055,Gérard Depardieu,0.027027,0,0.000000,1952,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11366,1.18343112,Unknown,Unknown,NaN,0,Panorama,Die Phase zum Abtransport des Kreuzfahrtschiff...,2017-04-11 14:03:57.267,Abtransport der Costa Concordia,0.000000,0,0.000000,1952,1.0
11396,ld.1287627,Manuela Nyffenegger,"Betrug bei «Wetten, dass...?»",NaN,1,Panorama,Er hatte 1988 nicht nur die Wett-Tester vom ZD...,2017-04-19 10:08:44.734,"Bernd Fritz, der Farbenlutscher, ist tot",0.000000,21,0.047755,1952,1.0
11399,1.18177662,Unknown,Unknown,NaN,0,Panorama,Die düstere Gestalt des Schurken Fantômas ist ...,2017-04-11 14:01:00.282,Fantômas – Antiheld und Kultfigur,0.000000,0,0.000000,1952,1.0
11405,1.18132244,Unknown,Unknown,NaN,0,Panorama,"Perseiden heissen die Sternschnuppen, die wie ...",2017-04-11 14:00:13.767,Sternschnuppen,0.000000,0,0.000000,1952,1.0
11112,1.18051144,Unknown,Unknown,NaN,0,Panorama,Mein bestes RS-Bild.,2017-04-11 13:59:03.052,RS-Fotos 1950er-Jahre,0.000000,0,0.000000,1952,1.0

In [8]:
w_inner = np.array([[1,2],[2,3],[4,5]])
ratio = (1,2,3)
for i, evs in enumerate(w_inner):
        w_inner[i] = np.array(evs)*ratio[i] 
w_inner

array([[ 1,  2],
       [ 4,  6],
       [12, 15]])