In [1]:
from some_functions import *
from popularity_model import *
import pandas as pd
import numpy as np

In [2]:
art_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\art_clean_wt_all_popularity.csv')
user_db = get_db(r'C:\Users\a814811\OneDrive - Atos\RecommenderSystem\readers.csv')

# user_db = user_db.rename(columns={"id":"user_id", "art_id":"nzz_id"})
# art_db = art_db.loc[:,['nzz_id','author','department','popularity']] #skr√≥cenie do potrzebnych rzeczy

In [3]:
User1  = Popularity_model(articles_db=art_db,user_db=user_db)
User1a = Popularity_model_author(articles_db=art_db,user_db=user_db)
User1d = Popularity_model_department(articles_db=art_db,user_db=user_db)
User1m = Popularity_model_final(articles_db=art_db,user_db=user_db)

users = [User1, User1a, User1d, User1m]
user_id = 8
for User in users:
    r = User.recommend(user_id=user_id, ignored=True, limit=10)
    print(f'{User.get_name()}\n user ID: {user_id}\n {len(r)} recommendations:\n{r}\n')
    # r = User.recommend(user_id=user_id, ignored=False, limit=10)
    # print(f'{User.get_name()}\n user ID: {user_id}\n {len(r)} recommendations:\n{r}\n')
# r = User1.recommend(user_id=5, limit=5, ignored=['1.18108994','ld.153477','ld.153813'])
# print(f'{str(User1)[18:-30]}\n user ID: {-2}\n {len(r[0])} recommendations:\n{r}\n')

popularity
 user ID: 8
 10 recommendations:
['ld.153477', 'ld.153813', 'ld.137077', 'ld.150497', 'ld.137081', 'ld.150557', 'ld.136886', 'ld.137066', 'ld.151480', 'ld.137200']

author
 user ID: 8
 10 recommendations:
['ld.155260', 'ld.1290435', 'ld.142559', 'ld.138264', 'ld.179158', 'ld.139750', 'ld.142248', 'ld.139476', 'ld.152002', 'ld.151742']

department
 user ID: 8
 10 recommendations:
['ld.153589', 'ld.138179', 'ld.1288368', 'ld.141709', 'ld.157295', 'ld.1294739', 'ld.149016', 'ld.152219', 'ld.144297', 'ld.1287117']

final
 user ID: 8
 10 recommendations:
['ld.157295', 'ld.144297', 'ld.1294739', 'ld.149016', 'ld.153589', 'ld.138548', 'ld.138179', 'ld.1287117', 'ld.1292759', 'ld.1288368']

In [7]:
i= 5
exec(f"a={i}")
a

5

In [4]:
choose_recomm([[1,2,3],[4,5,6],[7,8,9]],(1,1,10),3)

[7, 8, 9]

In [4]:
articles_1st_period = art_db.sort_values(by='pub_date')[:round(len(art_db)/2)]
articles_2nd_period = art_db.sort_values(by='pub_date')[round(len(art_db)/2):]

In [5]:
readers_1st_period = user_db[user_db['nzz_id'].isin(
                                  articles_1st_period['nzz_id'])]
readers_2nd_period = user_db[user_db['nzz_id'].isin(
                                  articles_2nd_period['nzz_id'])]

In [25]:
us = 1
y = user_db[user_db['user_id'] == us]
y

   user_id      nzz_id
0        1   ld.154103
1        1   ld.142559
2        1  1.18331199
3        1   ld.144819
4        1  ld.1293110

In [26]:
x = readers_2nd_period[readers_2nd_period['user_id'] == us]
x

   user_id      nzz_id
0        1   ld.154103
2        1  1.18331199
4        1  ld.1293110

In [27]:
y[~y.isin(x)].dropna()

   user_id     nzz_id
1      1.0  ld.142559
3      1.0  ld.144819

In [32]:
print(len(user_db))
print(len(user_db[~user_db.isin(x)].dropna()))

27855
27852