In [32]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

In [4]:
results = pd.read_csv(r'C:\Users\a814810\OneDrive - Atos\Documents\RecommenderSystem\Agata\test_results_long')

In [20]:
pd.set_option('display.max_rows', 120)
good_results = results.query('f1score>0')
#good_results

In [21]:
#results[results.train_articles+results.test_articles > 45]

In [78]:
good_users = good_results.user.unique()
good_users

array([ 18,  31,  37,  51,  57,  62,  75,  79, 102, 106, 137, 153, 170,
       185, 199, 208, 266, 313, 325, 386, 387, 393, 421, 504, 521, 532,
       598, 601, 604, 608, 638, 647, 648, 681, 706, 707, 709, 719, 749,
       759, 810, 847, 853, 874, 887, 920, 921, 950, 968, 970, 991],
      dtype=int64)

In [7]:
readers = pd.read_csv('./../readers.csv')

In [22]:
users_interactions_count_df = readers.groupby(['user_id', 'nzz_id']).size().groupby('user_id').size()
print('# users: %d' % len(users_interactions_count_df))
users_with_enough_interactions_df = users_interactions_count_df[users_interactions_count_df >= 45].reset_index()[['user_id']]
print('# users with at least 5 interactions: %d' % len(users_with_enough_interactions_df))
# users_interactions_count_df.loc[good_users]

# users: 1000
# users with at least 5 interactions: 135

In [51]:
results_lemma = pd.read_csv(r'C:\Users\a814810\OneDrive - Atos\Documents\RecommenderSystem\Agata\test_results_long_lemma')

In [52]:
good_results_lemma = results_lemma.query('f1score>0')
good_results_lemma

,model,user,number_of_recomm,train_articles,test_articles,precision,recall,f1score
51,Content-Based,18,5,4,3,0.200000,0.333333,0.250000
52,Content-Based,18,10,4,3,0.100000,0.333333,0.153846
53,Content-Based,18,15,4,3,0.066667,0.333333,0.111111
70,Content-Based,24,10,22,18,0.100000,0.055556,0.071429
71,Content-Based,24,15,22,18,0.066667,0.055556,0.060606
...,...,...,...,...,...,...,...,...
2903,Content-Based,970,15,20,20,0.066667,0.050000,0.057143
2959,Content-Based,989,10,26,20,0.100000,0.050000,0.066667
2960,Content-Based,989,15,26,20,0.066667,0.050000,0.057143
2965,Content-Based,991,10,31,17,0.100000,0.058824,0.074074
2966,Content-Based,991,15,31,17,0.066667,0.058824,0.062500

In [23]:

# art_db = pd.read_csv('./data/articles_clean.csv')

# plt.figure(figsize=(10, 6))
# sns.histplot(art_db.loc[art_db.content_len >0, 'content_len'])

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(art_db.loc[art_db.content_len >0, 'content_len'])

In [33]:
art_db = pd.read_csv(r'C:\Users\a814810\OneDrive - Atos\Documents\RecommenderSystem\final_model\articles_final.csv')
matrix = sparse.load_npz("./vectorized/vec_matrix.npz")

In [153]:
df_test = readers[readers.user_id==421]

In [154]:
id_list = list(df_test['nzz_id']) 
# extracting indices of those articles (in articles_db)
indices = art_db[art_db.nzz_id.isin(id_list)].index.tolist()

# extracting pairs of similar articles based on cosine similarities between vectors
matrix_lower = np.tril(cosine_similarity(matrix[indices]))
np.fill_diagonal(matrix_lower, 0)
similar_pairs = np.where(matrix_lower>=0.3)
similar_df = pd.DataFrame(np.column_stack(similar_pairs),columns=['first_art','second_art'])

In [155]:
similar_df

   first_art  second_art
0         44          27

In [168]:

for us_id in readers.user_id.unique():
    df_test = readers[readers.user_id==us_id]
    id_list = list(df_test['nzz_id']) 
    deps = art_db[art_db.nzz_id.isin(id_list)]['department'].value_counts()
    if us_id in good_users and deps[0] >=25 : print('good user next')
    if deps[0] >=25:
        print(us_id,"-", deps[0])

12 - 25
good user next
37 - 25
54 - 28
73 - 25
146 - 27
good user next
153 - 25
184 - 25
189 - 26
good user next
199 - 27
248 - 25
273 - 28
328 - 30
374 - 25
good user next
387 - 28
good user next
421 - 27
441 - 31
465 - 27
541 - 27
588 - 26
good user next
598 - 26
good user next
601 - 27
641 - 25
655 - 25
690 - 30
good user next
719 - 28
733 - 25
743 - 25
823 - 30
826 - 26
859 - 27
870 - 25
897 - 26
901 - 25
908 - 31
914 - 25
good user next
970 - 26